<footer class="footer">
  <div class="footer__top">
    <div class="container footer__top-container">
      <div class="footer__contacts">
        <a href="tel:+74957772345" class="footer__phone">+7 (495) 777-2345</a>
        <a href="#" class="footer__phone-link">Заказать звонок</a>
        <a href="mailto:info@planeta-sirius.ru" class="footer__email">info@planeta-sirius.ru</a>
        <ul class="list-reset footer__social social">
          <li class="social__item"><a href="#" target="_blank" rel="nofollow" aria-label="Наша страница в facebook"
              style="background-image:url(img/svg/fb.svg);"></a></li>
          <li class="social__item"><a href="#" target="_blank" rel="nofollow" aria-label="Наша страница в instagram"
              style="background-image:url(img/svg/inst.svg);"></a></li>
          <li class="social__item"><a href="#" target="_blank" rel="nofollow" aria-label="Наша страница в VK"
              style="background-image:url(img/svg/VK.svg);"></a></li>
        </ul>
        <a href="#" download class="footer__price-list">Скачать прайс-лист</a>
      </div>
      <nav class="footer__nav">
        <ul class="list-reset footer__nav-list">
          <li class="footer__nav-item">
            <a href="#" class="footer__nav-link">каталог</a>
          </li>
          <li class="footer__nav-item">
            <a href="#" class="footer__nav-link">СПЕЦОДЕЖДА</a>
          </li>
          <li class="footer__nav-item">
            <a href="#" class="footer__nav-link">Средства защиты рук</a>
          </li>
          <li class="footer__nav-item">
            <a href="#" class="footer__nav-link">Активный отдых</a>
          </li>
          <li class="footer__nav-item">
            <a href="#" class="footer__nav-link">Хозтовары и постельные принадлежности</a>
          </li>
          <li class="footer__nav-item">
            <a href="#" class="footer__nav-link footer__nav-link--accent" data-dynamic-state="footer__nav-list--2, 576, last">Ликвидация</a>
          </li>
        </ul>
        <ul class="list-reset footer__nav-list footer__nav-list--2">
          <li class="footer__nav-item">
            <a href="#" class="footer__nav-link">обувь</a>
          </li>
          <li class="footer__nav-item">
            <a href="#" class="footer__nav-link">Средства индивидуальной защиты</a>
          </li>
          <li class="footer__nav-item">
            <a href="#" class="footer__nav-link">жилеты на все случаи жизни</a>
          </li>
          <li class="footer__nav-item">
            <a href="#" class="footer__nav-link">линия Plus</a>
          </li>
        </ul>
      </nav>
      <form action="#" method="post" class="footer__newsader">
        <div class="footer__form-accent">Подпишитесь на новости и акции и будьте в курсе всего!</div>
        <div class="footer__form-wrap">
          <input type="text" class="input-reset field footer__newsader-field" placeholder="Введите свой e-mail">
          <button type="submit" class="btn-reset footer__form-submit"></button>
        </div>
        <div class="footer__newsader-agree">
          <input type="checkbox" class="checkbox checkbox--blue" checked required>
          <div class="footer__newsader-agree-text">Я даю согласие на обработку персональных данных и соглашаюсь с
            правилами обработки персональных данных.</div>
        </div>
      </form>
    </div>
  </div>
  <div class="footer__bottom">
    <div class="container">
      <div class="footer__copy-text">2021 © PLANETA-SIRIUS.RU</div>
      <small class="footer__simple-text">Вся приведенная на сайте информация, носят исключительно ознакомительный
        характер
        и не является публичной офертой.</small>
    </div>
  </div>
</footer>
