<section class="products">
  <div class="container">
    <ul class="list-reset breadcrumbs products__breadcrumbs">
      <li class="breadcrumbs__item">
        <a href="#" class="breadcrumbs__text">Каталог товаров ></a>
      </li>
      <li class="breadcrumbs__item">
        <a href="#" class="breadcrumbs__text">Спецодежда ></a>
      </li>
      <li class="breadcrumbs__item">
        <span class="breadcrumbs__text breadcrumbs__text--last">Спецодежда зимняя</span>
      </li>
    </ul>
    <a href="#" class="back-link">Назад</a>
    <h1 class="h1 products__title">Спецодежда Зимняя</h1>
    <div class="list-reset tags products__tags">
      <a href="#" class="tags__item">Спецодежда с заключением Минпромторга</a>
      <a href="#" class="tags__item">Костюмы женские</a>
      <a href="#" class="tags__item">Костюмы мужские</a>
      <a href="#" class="tags__item">Костюмы сварщика</a>
      <a href="#" class="tags__item">Жилеты женские</a>
      <a href="#" class="tags__item">Жилеты мужские</a>
      <a href="#" class="tags__item">Жилеты зимние</a>
      <a href="#" class="tags__item">Брюки</a>
      <a href="#" class="tags__item">Куртки женские</a>
      <a href="#" class="tags__item">Куртки мужские</a>
      <a href="#" class="tags__item">Полукомбинезоны зимние</a>
      <a href="#" class="tags__item">Костюмы сварщика</a>
      <a href="#" class="tags__item">Жилеты женские</a>
      <a href="#" class="tags__item">Жилеты мужские</a>
      <button type="button" class="btn-reset tags__item tags__item--btn" data-more-tags>Показать еще</button>
    </div>
    <div class="products__control">
      <select name="products-sorting" class="products__select select" data-select>
        <option value="По умолчанию" selected>По умолчанию</option>
        <option value="По популярности">По популярности</option>
        <option value="По возрастанию цены">По возрастанию цены</option>
        <option value="По убыванию цены">По убыванию цены</option>
        <option value="По новинкам">По новинкам</option>
        <option value="По скидке">По скидке</option>
        <option value="По алфавиту">По алфавиту</option>
      </select>
      <button type="button" class="btn-reset btn-filter" data-modal-btn="filter">Фильтр</button>
    </div>
    <div class="products__catalog">
      <aside class="products__filter filter">
        <div class="accordion-list filter__list" data-accordions data-dynamic-state="modal-filter, 768, last">
          <div class="accordion-item filter__item">
            <button type="button" class="btn-reset accordion-btn">Цена, руб</button>
            <div class="accordion-content collapse show">
              <div class="content filter__content">
                <div class="filter__fields">
                  <div class="filter__field-wrap field">
                    <span class="filter__field-desc">от</span>
                    <input type="text" class="input-reset filter__field-min" maxlength="6"
                      aria-label="Выведите минимальную цену">
                  </div>
                  <div class="filter__field-wrap field">
                    <span class="filter__field-desc">до</span>
                    <input type="text" class="input-reset filter__field-max" maxlength="6"
                      aria-label="Выведите максимальную цену">
                  </div>
                </div>
                <div class="range-slider filter__range-slider" data-range-slider></div>
              </div>
            </div>
          </div>
          <div class="accordion-item filter__item">
            <button type="button" class="btn-reset accordion-btn">Вид изделия</button>
            <div class="accordion-content collapse show">
              <div class="content filter__content">
                <ul class="list-reset filter__content-list">
                  <li class="filter__content-item">
                    <label class="filter__content-label">
                      <input type="checkbox" class="input-reset checkbox">
                      Брюки
                    </label>
                  </li>
                  <li class="filter__content-item">
                    <label class="filter__content-label filter__content-label--disabled">
                      <input type="checkbox" class="input-reset checkbox">
                      Жилет
                    </label>
                  </li>
                  <li class="filter__content-item">
                    <label class="filter__content-label">
                      <input type="checkbox" class="input-reset checkbox">
                      Костюм
                    </label>
                  </li>
                  <li class="filter__content-item">
                    <label class="filter__content-label">
                      <input type="checkbox" class="input-reset checkbox">
                      Куртка
                    </label>
                  </li>
                  <li class="filter__content-item">
                    <label class="filter__content-label">
                      <input type="checkbox" class="input-reset checkbox">
                      Полукомбинезон
                    </label>
                  </li>
                </ul>
              </div>
            </div>
          </div>
          <div class="accordion-item filter__item">
            <button type="button" class="btn-reset accordion-btn">Вид изделия</button>
            <div class="accordion-content collapse show">
              <div class="content filter__content">
                <ul class="list-reset filter__content-list">
                  <li class="filter__content-item">
                    <label class="filter__content-label">
                      <input type="checkbox" class="input-reset checkbox">
                      Брюки
                    </label>
                  </li>
                  <li class="filter__content-item">
                    <label class="filter__content-label filter__content-label--disabled">
                      <input type="checkbox" class="input-reset checkbox">
                      Жилет
                    </label>
                  </li>
                  <li class="filter__content-item">
                    <label class="filter__content-label">
                      <input type="checkbox" class="input-reset checkbox">
                      Костюм
                    </label>
                  </li>
                  <li class="filter__content-item">
                    <label class="filter__content-label">
                      <input type="checkbox" class="input-reset checkbox">
                      Куртка
                    </label>
                  </li>
                  <li class="filter__content-item">
                    <label class="filter__content-label">
                      <input type="checkbox" class="input-reset checkbox">
                      Полукомбинезон
                    </label>
                  </li>
                </ul>
              </div>
            </div>
          </div>
          <div class="accordion-item filter__item">
            <button type="button" class="btn-reset accordion-btn">Вид изделия</button>
            <div class="accordion-content collapse show">
              <div class="content filter__content">
                <ul class="list-reset filter__content-list">
                  <li class="filter__content-item">
                    <label class="filter__content-label">
                      <input type="checkbox" class="input-reset checkbox">
                      Брюки
                    </label>
                  </li>
                  <li class="filter__content-item">
                    <label class="filter__content-label filter__content-label--disabled">
                      <input type="checkbox" class="input-reset checkbox">
                      Жилет
                    </label>
                  </li>
                  <li class="filter__content-item">
                    <label class="filter__content-label">
                      <input type="checkbox" class="input-reset checkbox">
                      Костюм
                    </label>
                  </li>
                  <li class="filter__content-item">
                    <label class="filter__content-label">
                      <input type="checkbox" class="input-reset checkbox">
                      Куртка
                    </label>
                  </li>
                  <li class="filter__content-item">
                    <label class="filter__content-label">
                      <input type="checkbox" class="input-reset checkbox">
                      Полукомбинезон
                    </label>
                  </li>
                </ul>
              </div>
            </div>
          </div>
          <div class="accordion-item filter__item">
            <button type="button" class="btn-reset accordion-btn">Вид изделия</button>
            <div class="accordion-content collapse show">
              <div class="content filter__content">
                <ul class="list-reset filter__content-list">
                  <li class="filter__content-item">
                    <label class="filter__content-label">
                      <input type="checkbox" class="input-reset checkbox">
                      Брюки
                    </label>
                  </li>
                  <li class="filter__content-item">
                    <label class="filter__content-label filter__content-label--disabled">
                      <input type="checkbox" class="input-reset checkbox">
                      Жилет
                    </label>
                  </li>
                  <li class="filter__content-item">
                    <label class="filter__content-label">
                      <input type="checkbox" class="input-reset checkbox">
                      Костюм
                    </label>
                  </li>
                  <li class="filter__content-item">
                    <label class="filter__content-label">
                      <input type="checkbox" class="input-reset checkbox">
                      Куртка
                    </label>
                  </li>
                  <li class="filter__content-item">
                    <label class="filter__content-label">
                      <input type="checkbox" class="input-reset checkbox">
                      Полукомбинезон
                    </label>
                  </li>
                </ul>
              </div>
            </div>
          </div>
          <div class="accordion-item filter__item">
            <button type="button" class="btn-reset accordion-btn">Вид изделия</button>
            <div class="accordion-content collapse show">
              <div class="content filter__content">
                <ul class="list-reset filter__content-list">
                  <li class="filter__content-item">
                    <label class="filter__content-label">
                      <input type="checkbox" class="input-reset checkbox">
                      Брюки
                    </label>
                  </li>
                  <li class="filter__content-item">
                    <label class="filter__content-label filter__content-label--disabled">
                      <input type="checkbox" class="input-reset checkbox">
                      Жилет
                    </label>
                  </li>
                  <li class="filter__content-item">
                    <label class="filter__content-label">
                      <input type="checkbox" class="input-reset checkbox">
                      Костюм
                    </label>
                  </li>
                  <li class="filter__content-item">
                    <label class="filter__content-label">
                      <input type="checkbox" class="input-reset checkbox">
                      Куртка
                    </label>
                  </li>
                  <li class="filter__content-item">
                    <label class="filter__content-label">
                      <input type="checkbox" class="input-reset checkbox">
                      Полукомбинезон
                    </label>
                  </li>
                </ul>
              </div>
            </div>
          </div>
          <div class="accordion-item filter__item">
            <button type="button" class="btn-reset accordion-btn">Вид изделия</button>
            <div class="accordion-content collapse show">
              <div class="content filter__content">
                <ul class="list-reset filter__content-list">
                  <li class="filter__content-item">
                    <label class="filter__content-label">
                      <input type="checkbox" class="input-reset checkbox">
                      Брюки
                    </label>
                  </li>
                  <li class="filter__content-item">
                    <label class="filter__content-label filter__content-label--disabled">
                      <input type="checkbox" class="input-reset checkbox">
                      Жилет
                    </label>
                  </li>
                  <li class="filter__content-item">
                    <label class="filter__content-label">
                      <input type="checkbox" class="input-reset checkbox">
                      Костюм
                    </label>
                  </li>
                  <li class="filter__content-item">
                    <label class="filter__content-label">
                      <input type="checkbox" class="input-reset checkbox">
                      Куртка
                    </label>
                  </li>
                  <li class="filter__content-item">
                    <label class="filter__content-label">
                      <input type="checkbox" class="input-reset checkbox">
                      Полукомбинезон
                    </label>
                  </li>
                </ul>
              </div>
            </div>
          </div>
          <div class="accordion-item filter__item">
            <button type="button" class="btn-reset accordion-btn">Вид изделия</button>
            <div class="accordion-content collapse show">
              <div class="content filter__content">
                <ul class="list-reset filter__content-list">
                  <li class="filter__content-item">
                    <label class="filter__content-label">
                      <input type="checkbox" class="input-reset checkbox">
                      Брюки
                    </label>
                  </li>
                  <li class="filter__content-item">
                    <label class="filter__content-label filter__content-label--disabled">
                      <input type="checkbox" class="input-reset checkbox">
                      Жилет
                    </label>
                  </li>
                  <li class="filter__content-item">
                    <label class="filter__content-label">
                      <input type="checkbox" class="input-reset checkbox">
                      Костюм
                    </label>
                  </li>
                  <li class="filter__content-item">
                    <label class="filter__content-label">
                      <input type="checkbox" class="input-reset checkbox">
                      Куртка
                    </label>
                  </li>
                  <li class="filter__content-item">
                    <label class="filter__content-label">
                      <input type="checkbox" class="input-reset checkbox">
                      Полукомбинезон
                    </label>
                  </li>
                </ul>
              </div>
            </div>
          </div>
          <button type="button" class="btn-reset filter__show btn-outline">Показать (<span>123</span>)</button>
          <button type="button" class="btn-reset filter__reset">Сбросить</button>
        </div>
      </aside>
      <div class="products__catalog-wrap">
        <ul class="list-reset products__list">
          <li class="products__item">
            <article class="product">
              <a href="#" aria-label="Костюм 'СИРИУС-Горка' куртка, брюки (гражданские размеры) КМФ Мультикам">
                <picture class="product__picture">
                  <source srcset="img/product-image-1.webp" type="image/webp">
                  <img loading="lazy" src="img/product-image-1.jpg" class="image" width="216" height="438" alt="Костюм 'СИРИУС-Горка' куртка, брюки (гражданские размеры) КМФ Мультикам">
                </picture>
              </a>
              <div class="product__content">
                <div class="product__code">Арт 1232425</div>
                <h2 class="product__title"><a href="#">Костюм "СИРИУС-Горка" куртка, брюки (гражданские размеры) КМФ Мультикам</a></h2>
                <div class="product__price-wholesale">Опт 3144 ₽</div>
                <div class="product__price-retail">Розница 4235 ₽</div>
                <div class="product__order">
                  <button type="button" class="btn-reset btn-outline product__btn-order" data-modal-btn="table-size">В корзину</button>
                  <button type="button" class="btn-reset btn-outline product__btn-order product__btn-order--favorite" aria-label="Добавить в избранное">
                    <svg>
                      <use xlink:href="img/sprite.svg#heart"></use>
                    </svg>
                  </button>
                </div>
              </div>
            </article>
          </li>
          <li class="products__item">
            <article class="product">
              <a href="#" aria-label="Костюм 'СИРИУС-Горка' куртка, брюки (гражданские размеры) КМФ Мультикам">
                <picture class="product__picture">
                  <source srcset="img/product-image-2.webp" type="image/webp">
                  <img loading="lazy" src="img/product-image-2.jpg" class="image" width="216" height="438" alt="Костюм 'СИРИУС-Горка' куртка, брюки (гражданские размеры) КМФ Мультикам">
                </picture>
              </a>
              <div class="product__content">
                <div class="product__code">Арт 1232425</div>
                <h2 class="product__title"><a href="#">Костюм "СИРИУС-Горка" куртка, брюки (гражданские размеры) КМФ Мультикам</a></h2>
                <div class="product__price-wholesale">Опт 3144 ₽</div>
                <div class="product__price-retail">Розница 4235 ₽</div>
                <div class="product__order">
                  <button type="button" class="btn-reset btn-outline product__btn-order" data-modal-btn="table-size">В корзину</button>
                  <button type="button" class="btn-reset btn-outline product__btn-order product__btn-order--favorite" aria-label="Добавить в избранное">
                    <svg>
                      <use xlink:href="img/sprite.svg#heart"></use>
                    </svg>
                  </button>
                </div>
              </div>
            </article>
          </li>
          <li class="products__item">
            <article class="product">
              <a href="#" aria-label="Костюм 'СИРИУС-Горка' куртка, брюки (гражданские размеры) КМФ Мультикам">
                <picture class="product__picture">
                  <source srcset="img/product-image-3.webp" type="image/webp">
                  <img loading="lazy" src="img/product-image-3.jpg" class="image" width="216" height="438" alt="Костюм 'СИРИУС-Горка' куртка, брюки (гражданские размеры) КМФ Мультикам">
                </picture>
              </a>
              <div class="product__content">
                <div class="product__code">Арт 1232425</div>
                <h2 class="product__title"><a href="#">Костюм "СИРИУС-Горка" куртка, брюки (гражданские размеры) КМФ Мультикам</a></h2>
                <div class="product__price-wholesale">Опт 3144 ₽</div>
                <div class="product__price-retail">Розница 4235 ₽</div>
                <div class="product__order">
                  <button type="button" class="btn-reset btn-outline product__btn-order" data-modal-btn="table-size">В корзину</button>
                  <button type="button" class="btn-reset btn-outline product__btn-order product__btn-order--favorite" aria-label="Добавить в избранное">
                    <svg>
                      <use xlink:href="img/sprite.svg#heart"></use>
                    </svg>
                  </button>
                </div>
              </div>
            </article>
          </li>
          <li class="products__item">
            <article class="product">
              <a href="#" aria-label="Костюм 'СИРИУС-Горка' куртка, брюки (гражданские размеры) КМФ Мультикам">
                <picture class="product__picture">
                  <source srcset="img/product-image-4.webp" type="image/webp">
                  <img loading="lazy" src="img/product-image-4.jpg" class="image" width="216" height="438" alt="Костюм 'СИРИУС-Горка' куртка, брюки (гражданские размеры) КМФ Мультикам">
                </picture>
              </a>
              <div class="product__content">
                <div class="product__code">Арт 1232425</div>
                <h2 class="product__title"><a href="#">Костюм "СИРИУС-Горка" куртка, брюки (гражданские размеры) КМФ Мультикам</a></h2>
                <div class="product__price-wholesale">Опт 3144 ₽</div>
                <div class="product__price-retail">Розница 4235 ₽</div>
                <div class="product__order">
                  <button type="button" class="btn-reset btn-outline product__btn-order" data-modal-btn="table-size">В корзину</button>
                  <button type="button" class="btn-reset btn-outline product__btn-order product__btn-order--favorite" aria-label="Добавить в избранное">
                    <svg>
                      <use xlink:href="img/sprite.svg#heart"></use>
                    </svg>
                  </button>
                </div>
              </div>
            </article>
          </li>
          <li class="products__item">
            <article class="product">
              <a href="#" aria-label="Костюм 'СИРИУС-Горка' куртка, брюки (гражданские размеры) КМФ Мультикам">
                <picture class="product__picture">
                  <source srcset="img/product-image-1.webp" type="image/webp">
                  <img loading="lazy" src="img/product-image-1.jpg" class="image" width="216" height="438" alt="Костюм 'СИРИУС-Горка' куртка, брюки (гражданские размеры) КМФ Мультикам">
                </picture>
              </a>
              <div class="product__content">
                <div class="product__code">Арт 1232425</div>
                <h2 class="product__title"><a href="#">Костюм "СИРИУС-Горка" куртка, брюки (гражданские размеры) КМФ Мультикам</a></h2>
                <div class="product__price-wholesale">Опт 3144 ₽</div>
                <div class="product__price-retail">Розница 4235 ₽</div>
                <div class="product__order">
                  <button type="button" class="btn-reset btn-outline product__btn-order" data-modal-btn="table-size">В корзину</button>
                  <button type="button" class="btn-reset btn-outline product__btn-order product__btn-order--favorite product__btn-order--is-favorite" aria-label="Добавить в избранное">
                    <svg>
                      <use xlink:href="img/sprite.svg#heart"></use>
                    </svg>
                  </button>
                </div>
              </div>
            </article>
          </li>
          <li class="products__item">
            <article class="product">
              <a href="#" aria-label="Костюм 'СИРИУС-Горка' куртка, брюки (гражданские размеры) КМФ Мультикам">
                <picture class="product__picture">
                  <source srcset="img/product-image-1.webp" type="image/webp">
                  <img loading="lazy" src="img/product-image-1.jpg" class="image" width="216" height="438" alt="Костюм 'СИРИУС-Горка' куртка, брюки (гражданские размеры) КМФ Мультикам">
                </picture>
              </a>
              <div class="product__content">
                <div class="product__code">Арт 1232425</div>
                <h2 class="product__title"><a href="#">Костюм "СИРИУС-Горка" куртка, брюки (гражданские размеры) КМФ Мультикам</a></h2>
                <div class="product__price-wholesale">Опт 3144 ₽</div>
                <div class="product__price-retail">Розница 4235 ₽</div>
                <div class="product__order">
                  <button type="button" class="btn-reset btn-outline product__btn-order" data-modal-btn="table-size">В корзину</button>
                  <button type="button" class="btn-reset btn-outline product__btn-order product__btn-order--favorite" aria-label="Добавить в избранное">
                    <svg>
                      <use xlink:href="img/sprite.svg#heart"></use>
                    </svg>
                  </button>
                </div>
              </div>
            </article>
          </li>
          <li class="products__item">
            <article class="product">
              <a href="#" aria-label="Костюм 'СИРИУС-Горка' куртка, брюки (гражданские размеры) КМФ Мультикам">
                <picture class="product__picture">
                  <source srcset="img/product-image-1.webp" type="image/webp">
                  <img loading="lazy" src="img/product-image-1.jpg" class="image" width="216" height="438" alt="Костюм 'СИРИУС-Горка' куртка, брюки (гражданские размеры) КМФ Мультикам">
                </picture>
              </a>
              <div class="product__content">
                <div class="product__code">Арт 1232425</div>
                <h2 class="product__title"><a href="#">Костюм "СИРИУС-Горка" куртка, брюки (гражданские размеры) КМФ Мультикам</a></h2>
                <div class="product__price-wholesale">Опт 3144 ₽</div>
                <div class="product__price-retail">Розница 4235 ₽</div>
                <div class="product__order">
                  <button type="button" class="btn-reset btn-outline product__btn-order" data-modal-btn="table-size">В корзину</button>
                  <button type="button" class="btn-reset btn-outline product__btn-order product__btn-order--favorite" aria-label="Добавить в избранное">
                    <svg>
                      <use xlink:href="img/sprite.svg#heart"></use>
                    </svg>
                  </button>
                </div>
              </div>
            </article>
          </li>
          <li class="products__item">
            <article class="product">
              <a href="#" aria-label="Костюм 'СИРИУС-Горка' куртка, брюки (гражданские размеры) КМФ Мультикам">
                <picture class="product__picture">
                  <source srcset="img/product-image-1.webp" type="image/webp">
                  <img loading="lazy" src="img/product-image-1.jpg" class="image" width="216" height="438" alt="Костюм 'СИРИУС-Горка' куртка, брюки (гражданские размеры) КМФ Мультикам">
                </picture>
              </a>
              <div class="product__content">
                <div class="product__code">Арт 1232425</div>
                <h2 class="product__title"><a href="#">Костюм "СИРИУС-Горка" куртка, брюки (гражданские размеры) КМФ Мультикам</a></h2>
                <div class="product__price-wholesale">Опт 3144 ₽</div>
                <div class="product__price-retail">Розница 4235 ₽</div>
                <div class="product__order">
                  <button type="button" class="btn-reset btn-outline product__btn-order" data-modal-btn="table-size">В корзину</button>
                  <button type="button" class="btn-reset btn-outline product__btn-order product__btn-order--favorite" aria-label="Добавить в избранное">
                    <svg>
                      <use xlink:href="img/sprite.svg#heart"></use>
                    </svg>
                  </button>
                </div>
              </div>
            </article>
          </li>
          <li class="products__item">
            <article class="product">
              <a href="#" aria-label="Костюм 'СИРИУС-Горка' куртка, брюки (гражданские размеры) КМФ Мультикам">
                <picture class="product__picture">
                  <source srcset="img/product-image-1.webp" type="image/webp">
                  <img loading="lazy" src="img/product-image-1.jpg" class="image" width="216" height="438" alt="Костюм 'СИРИУС-Горка' куртка, брюки (гражданские размеры) КМФ Мультикам">
                </picture>
              </a>
              <div class="product__content">
                <div class="product__code">Арт 1232425</div>
                <h2 class="product__title"><a href="#">Костюм "СИРИУС-Горка" куртка, брюки (гражданские размеры) КМФ Мультикам</a></h2>
                <div class="product__price-wholesale">Опт 3144 ₽</div>
                <div class="product__price-retail">Розница 4235 ₽</div>
                <div class="product__order">
                  <button type="button" class="btn-reset btn-outline product__btn-order" data-modal-btn="table-size">В корзину</button>
                  <button type="button" class="btn-reset btn-outline product__btn-order product__btn-order--favorite" aria-label="Добавить в избранное">
                    <svg>
                      <use xlink:href="img/sprite.svg#heart"></use>
                    </svg>
                  </button>
                </div>
              </div>
            </article>
          </li>
          <li class="products__item">
            <article class="product">
              <a href="#" aria-label="Костюм 'СИРИУС-Горка' куртка, брюки (гражданские размеры) КМФ Мультикам">
                <picture class="product__picture">
                  <source srcset="img/product-image-1.webp" type="image/webp">
                  <img loading="lazy" src="img/product-image-1.jpg" class="image" width="216" height="438" alt="Костюм 'СИРИУС-Горка' куртка, брюки (гражданские размеры) КМФ Мультикам">
                </picture>
              </a>
              <div class="product__content">
                <div class="product__code">Арт 1232425</div>
                <h2 class="product__title"><a href="#">Костюм "СИРИУС-Горка" куртка, брюки (гражданские размеры) КМФ Мультикам</a></h2>
                <div class="product__price-wholesale">Опт 3144 ₽</div>
                <div class="product__price-retail">Розница 4235 ₽</div>
                <div class="product__order">
                  <button type="button" class="btn-reset btn-outline product__btn-order" data-modal-btn="table-size">В корзину</button>
                  <button type="button" class="btn-reset btn-outline product__btn-order product__btn-order--favorite" aria-label="Добавить в избранное">
                    <svg>
                      <use xlink:href="img/sprite.svg#heart"></use>
                    </svg>
                  </button>
                </div>
              </div>
            </article>
          </li>
          <li class="products__item">
            <article class="product">
              <a href="#" aria-label="Костюм 'СИРИУС-Горка' куртка, брюки (гражданские размеры) КМФ Мультикам">
                <picture class="product__picture">
                  <source srcset="img/product-image-1.webp" type="image/webp">
                  <img loading="lazy" src="img/product-image-1.jpg" class="image" width="216" height="438" alt="Костюм 'СИРИУС-Горка' куртка, брюки (гражданские размеры) КМФ Мультикам">
                </picture>
              </a>
              <div class="product__content">
                <div class="product__code">Арт 1232425</div>
                <h2 class="product__title"><a href="#">Костюм "СИРИУС-Горка" куртка, брюки (гражданские размеры) КМФ Мультикам</a></h2>
                <div class="product__price-wholesale">Опт 3144 ₽</div>
                <div class="product__price-retail">Розница 4235 ₽</div>
                <div class="product__order">
                  <button type="button" class="btn-reset btn-outline product__btn-order" data-modal-btn="table-size">В корзину</button>
                  <button type="button" class="btn-reset btn-outline product__btn-order product__btn-order--favorite" aria-label="Добавить в избранное">
                    <svg>
                      <use xlink:href="img/sprite.svg#heart"></use>
                    </svg>
                  </button>
                </div>
              </div>
            </article>
          </li>
          <li class="products__item">
            <article class="product">
              <a href="#" aria-label="Костюм 'СИРИУС-Горка' куртка, брюки (гражданские размеры) КМФ Мультикам">
                <picture class="product__picture">
                  <source srcset="img/product-image-1.webp" type="image/webp">
                  <img loading="lazy" src="img/product-image-1.jpg" class="image" width="216" height="438" alt="Костюм 'СИРИУС-Горка' куртка, брюки (гражданские размеры) КМФ Мультикам">
                </picture>
              </a>
              <div class="product__content">
                <div class="product__code">Арт 1232425</div>
                <h2 class="product__title"><a href="#">Костюм "СИРИУС-Горка" куртка, брюки (гражданские размеры) КМФ Мультикам</a></h2>
                <div class="product__price-wholesale">Опт 3144 ₽</div>
                <div class="product__price-retail">Розница 4235 ₽</div>
                <div class="product__order">
                  <button type="button" class="btn-reset btn-outline product__btn-order" data-modal-btn="table-size">В корзину</button>
                  <button type="button" class="btn-reset btn-outline product__btn-order product__btn-order--favorite" aria-label="Добавить в избранное">
                    <svg>
                      <use xlink:href="img/sprite.svg#heart"></use>
                    </svg>
                  </button>
                </div>
              </div>
            </article>
          </li>
          <li class="products__item">
            <article class="product">
              <a href="#" aria-label="Костюм 'СИРИУС-Горка' куртка, брюки (гражданские размеры) КМФ Мультикам">
                <picture class="product__picture">
                  <source srcset="img/product-image-1.webp" type="image/webp">
                  <img loading="lazy" src="img/product-image-1.jpg" class="image" width="216" height="438" alt="Костюм 'СИРИУС-Горка' куртка, брюки (гражданские размеры) КМФ Мультикам">
                </picture>
              </a>
              <div class="product__content">
                <div class="product__code">Арт 1232425</div>
                <h2 class="product__title"><a href="#">Костюм "СИРИУС-Горка" куртка, брюки (гражданские размеры) КМФ Мультикам</a></h2>
                <div class="product__price-wholesale">Опт 3144 ₽</div>
                <div class="product__price-retail">Розница 4235 ₽</div>
                <div class="product__order">
                  <button type="button" class="btn-reset btn-outline product__btn-order" data-modal-btn="table-size">В корзину</button>
                  <button type="button" class="btn-reset btn-outline product__btn-order product__btn-order--favorite" aria-label="Добавить в избранное">
                    <svg>
                      <use xlink:href="img/sprite.svg#heart"></use>
                    </svg>
                  </button>
                </div>
              </div>
            </article>
          </li>
          <li class="products__item">
            <article class="product">
              <a href="#" aria-label="Костюм 'СИРИУС-Горка' куртка, брюки (гражданские размеры) КМФ Мультикам">
                <picture class="product__picture">
                  <source srcset="img/product-image-1.webp" type="image/webp">
                  <img loading="lazy" src="img/product-image-1.jpg" class="image" width="216" height="438" alt="Костюм 'СИРИУС-Горка' куртка, брюки (гражданские размеры) КМФ Мультикам">
                </picture>
              </a>
              <div class="product__content">
                <div class="product__code">Арт 1232425</div>
                <h2 class="product__title"><a href="#">Костюм "СИРИУС-Горка" куртка, брюки (гражданские размеры) КМФ Мультикам</a></h2>
                <div class="product__price-wholesale">Опт 3144 ₽</div>
                <div class="product__price-retail">Розница 4235 ₽</div>
                <div class="product__order">
                  <button type="button" class="btn-reset btn-outline product__btn-order" data-modal-btn="table-size">В корзину</button>
                  <button type="button" class="btn-reset btn-outline product__btn-order product__btn-order--favorite" aria-label="Добавить в избранное">
                    <svg>
                      <use xlink:href="img/sprite.svg#heart"></use>
                    </svg>
                  </button>
                </div>
              </div>
            </article>
          </li>
          <li class="products__item">
            <article class="product">
              <a href="#" aria-label="Костюм 'СИРИУС-Горка' куртка, брюки (гражданские размеры) КМФ Мультикам">
                <picture class="product__picture">
                  <source srcset="img/product-image-1.webp" type="image/webp">
                  <img loading="lazy" src="img/product-image-1.jpg" class="image" width="216" height="438" alt="Костюм 'СИРИУС-Горка' куртка, брюки (гражданские размеры) КМФ Мультикам">
                </picture>
              </a>
              <div class="product__content">
                <div class="product__code">Арт 1232425</div>
                <h2 class="product__title"><a href="#">Костюм "СИРИУС-Горка" куртка, брюки (гражданские размеры) КМФ Мультикам</a></h2>
                <div class="product__price-wholesale">Опт 3144 ₽</div>
                <div class="product__price-retail">Розница 4235 ₽</div>
                <div class="product__order">
                  <button type="button" class="btn-reset btn-outline product__btn-order" data-modal-btn="table-size">В корзину</button>
                  <button type="button" class="btn-reset btn-outline product__btn-order product__btn-order--favorite" aria-label="Добавить в избранное">
                    <svg>
                      <use xlink:href="img/sprite.svg#heart"></use>
                    </svg>
                  </button>
                </div>
              </div>
            </article>
          </li>
          <li class="products__item">
            <article class="product">
              <a href="#" aria-label="Костюм 'СИРИУС-Горка' куртка, брюки (гражданские размеры) КМФ Мультикам">
                <picture class="product__picture">
                  <source srcset="img/product-image-1.webp" type="image/webp">
                  <img loading="lazy" src="img/product-image-1.jpg" class="image" width="216" height="438" alt="Костюм 'СИРИУС-Горка' куртка, брюки (гражданские размеры) КМФ Мультикам">
                </picture>
              </a>
              <div class="product__content">
                <div class="product__code">Арт 1232425</div>
                <h2 class="product__title"><a href="#">Костюм "СИРИУС-Горка" куртка, брюки (гражданские размеры) КМФ Мультикам</a></h2>
                <div class="product__price-wholesale">Опт 3144 ₽</div>
                <div class="product__price-retail">Розница 4235 ₽</div>
                <div class="product__order">
                  <button type="button" class="btn-reset btn-outline product__btn-order" data-modal-btn="table-size">В корзину</button>
                  <button type="button" class="btn-reset btn-outline product__btn-order product__btn-order--favorite" aria-label="Добавить в избранное">
                    <svg>
                      <use xlink:href="img/sprite.svg#heart"></use>
                    </svg>
                  </button>
                </div>
              </div>
            </article>
          </li>
          <li class="products__item">
            <article class="product">
              <a href="#" aria-label="Костюм 'СИРИУС-Горка' куртка, брюки (гражданские размеры) КМФ Мультикам">
                <picture class="product__picture">
                  <source srcset="img/product-image-1.webp" type="image/webp">
                  <img loading="lazy" src="img/product-image-1.jpg" class="image" width="216" height="438" alt="Костюм 'СИРИУС-Горка' куртка, брюки (гражданские размеры) КМФ Мультикам">
                </picture>
              </a>
              <div class="product__content">
                <div class="product__code">Арт 1232425</div>
                <h2 class="product__title"><a href="#">Костюм "СИРИУС-Горка" куртка, брюки (гражданские размеры) КМФ Мультикам</a></h2>
                <div class="product__price-wholesale">Опт 3144 ₽</div>
                <div class="product__price-retail">Розница 4235 ₽</div>
                <div class="product__order">
                  <button type="button" class="btn-reset btn-outline product__btn-order" data-modal-btn="table-size">В корзину</button>
                  <button type="button" class="btn-reset btn-outline product__btn-order product__btn-order--favorite" aria-label="Добавить в избранное">
                    <svg>
                      <use xlink:href="img/sprite.svg#heart"></use>
                    </svg>
                  </button>
                </div>
              </div>
            </article>
          </li>
          <li class="products__item">
            <article class="product">
              <a href="#" aria-label="Костюм 'СИРИУС-Горка' куртка, брюки (гражданские размеры) КМФ Мультикам">
                <picture class="product__picture">
                  <source srcset="img/product-image-1.webp" type="image/webp">
                  <img loading="lazy" src="img/product-image-1.jpg" class="image" width="216" height="438" alt="Костюм 'СИРИУС-Горка' куртка, брюки (гражданские размеры) КМФ Мультикам">
                </picture>
              </a>
              <div class="product__content">
                <div class="product__code">Арт 1232425</div>
                <h2 class="product__title"><a href="#">Костюм "СИРИУС-Горка" куртка, брюки (гражданские размеры) КМФ Мультикам</a></h2>
                <div class="product__price-wholesale">Опт 3144 ₽</div>
                <div class="product__price-retail">Розница 4235 ₽</div>
                <div class="product__order">
                  <button type="button" class="btn-reset btn-outline product__btn-order" data-modal-btn="table-size">В корзину</button>
                  <button type="button" class="btn-reset btn-outline product__btn-order product__btn-order--favorite" aria-label="Добавить в избранное">
                    <svg>
                      <use xlink:href="img/sprite.svg#heart"></use>
                    </svg>
                  </button>
                </div>
              </div>
            </article>
          </li>
          <li class="products__item">
            <article class="product">
              <a href="#" aria-label="Костюм 'СИРИУС-Горка' куртка, брюки (гражданские размеры) КМФ Мультикам">
                <picture class="product__picture">
                  <source srcset="img/product-image-1.webp" type="image/webp">
                  <img loading="lazy" src="img/product-image-1.jpg" class="image" width="216" height="438" alt="Костюм 'СИРИУС-Горка' куртка, брюки (гражданские размеры) КМФ Мультикам">
                </picture>
              </a>
              <div class="product__content">
                <div class="product__code">Арт 1232425</div>
                <h2 class="product__title"><a href="#">Костюм "СИРИУС-Горка" куртка, брюки (гражданские размеры) КМФ Мультикам</a></h2>
                <div class="product__price-wholesale">Опт 3144 ₽</div>
                <div class="product__price-retail">Розница 4235 ₽</div>
                <div class="product__order">
                  <button type="button" class="btn-reset btn-outline product__btn-order" data-modal-btn="table-size">В корзину</button>
                  <button type="button" class="btn-reset btn-outline product__btn-order product__btn-order--favorite" aria-label="Добавить в избранное">
                    <svg>
                      <use xlink:href="img/sprite.svg#heart"></use>
                    </svg>
                  </button>
                </div>
              </div>
            </article>
          </li>
          <li class="products__item">
            <article class="product">
              <a href="#" aria-label="Костюм 'СИРИУС-Горка' куртка, брюки (гражданские размеры) КМФ Мультикам">
                <picture class="product__picture">
                  <source srcset="img/product-image-1.webp" type="image/webp">
                  <img loading="lazy" src="img/product-image-1.jpg" class="image" width="216" height="438" alt="Костюм 'СИРИУС-Горка' куртка, брюки (гражданские размеры) КМФ Мультикам">
                </picture>
              </a>
              <div class="product__content">
                <div class="product__code">Арт 1232425</div>
                <h2 class="product__title"><a href="#">Костюм "СИРИУС-Горка" куртка, брюки (гражданские размеры) КМФ Мультикам</a></h2>
                <div class="product__price-wholesale">Опт 3144 ₽</div>
                <div class="product__price-retail">Розница 4235 ₽</div>
                <div class="product__order">
                  <button type="button" class="btn-reset btn-outline product__btn-order" data-modal-btn="table-size">В корзину</button>
                  <button type="button" class="btn-reset btn-outline product__btn-order product__btn-order--favorite" aria-label="Добавить в избранное">
                    <svg>
                      <use xlink:href="img/sprite.svg#heart"></use>
                    </svg>
                  </button>
                </div>
              </div>
            </article>
          </li>
          <li class="products__item">
            <article class="product">
              <a href="#" aria-label="Костюм 'СИРИУС-Горка' куртка, брюки (гражданские размеры) КМФ Мультикам">
                <picture class="product__picture">
                  <source srcset="img/product-image-1.webp" type="image/webp">
                  <img loading="lazy" src="img/product-image-1.jpg" class="image" width="216" height="438" alt="Костюм 'СИРИУС-Горка' куртка, брюки (гражданские размеры) КМФ Мультикам">
                </picture>
              </a>
              <div class="product__content">
                <div class="product__code">Арт 1232425</div>
                <h2 class="product__title"><a href="#">Костюм "СИРИУС-Горка" куртка, брюки (гражданские размеры) КМФ Мультикам</a></h2>
                <div class="product__price-wholesale">Опт 3144 ₽</div>
                <div class="product__price-retail">Розница 4235 ₽</div>
                <div class="product__order">
                  <button type="button" class="btn-reset btn-outline product__btn-order" data-modal-btn="table-size">В корзину</button>
                  <button type="button" class="btn-reset btn-outline product__btn-order product__btn-order--favorite" aria-label="Добавить в избранное">
                    <svg>
                      <use xlink:href="img/sprite.svg#heart"></use>
                    </svg>
                  </button>
                </div>
              </div>
            </article>
          </li>
          <li class="products__item">
            <article class="product">
              <a href="#" aria-label="Костюм 'СИРИУС-Горка' куртка, брюки (гражданские размеры) КМФ Мультикам">
                <picture class="product__picture">
                  <source srcset="img/product-image-1.webp" type="image/webp">
                  <img loading="lazy" src="img/product-image-1.jpg" class="image" width="216" height="438" alt="Костюм 'СИРИУС-Горка' куртка, брюки (гражданские размеры) КМФ Мультикам">
                </picture>
              </a>
              <div class="product__content">
                <div class="product__code">Арт 1232425</div>
                <h2 class="product__title"><a href="#">Костюм "СИРИУС-Горка" куртка, брюки (гражданские размеры) КМФ Мультикам</a></h2>
                <div class="product__price-wholesale">Опт 3144 ₽</div>
                <div class="product__price-retail">Розница 4235 ₽</div>
                <div class="product__order">
                  <button type="button" class="btn-reset btn-outline product__btn-order" data-modal-btn="table-size">В корзину</button>
                  <button type="button" class="btn-reset btn-outline product__btn-order product__btn-order--favorite" aria-label="Добавить в избранное">
                    <svg>
                      <use xlink:href="img/sprite.svg#heart"></use>
                    </svg>
                  </button>
                </div>
              </div>
            </article>
          </li>
          <li class="products__item">
            <article class="product">
              <a href="#" aria-label="Костюм 'СИРИУС-Горка' куртка, брюки (гражданские размеры) КМФ Мультикам">
                <picture class="product__picture">
                  <source srcset="img/product-image-1.webp" type="image/webp">
                  <img loading="lazy" src="img/product-image-1.jpg" class="image" width="216" height="438" alt="Костюм 'СИРИУС-Горка' куртка, брюки (гражданские размеры) КМФ Мультикам">
                </picture>
              </a>
              <div class="product__content">
                <div class="product__code">Арт 1232425</div>
                <h2 class="product__title"><a href="#">Костюм "СИРИУС-Горка" куртка, брюки (гражданские размеры) КМФ Мультикам</a></h2>
                <div class="product__price-wholesale">Опт 3144 ₽</div>
                <div class="product__price-retail">Розница 4235 ₽</div>
                <div class="product__order">
                  <button type="button" class="btn-reset btn-outline product__btn-order" data-modal-btn="table-size">В корзину</button>
                  <button type="button" class="btn-reset btn-outline product__btn-order product__btn-order--favorite" aria-label="Добавить в избранное">
                    <svg>
                      <use xlink:href="img/sprite.svg#heart"></use>
                    </svg>
                  </button>
                </div>
              </div>
            </article>
          </li>
          <li class="products__item">
            <article class="product">
              <a href="#" aria-label="Костюм 'СИРИУС-Горка' куртка, брюки (гражданские размеры) КМФ Мультикам">
                <picture class="product__picture">
                  <source srcset="img/product-image-1.webp" type="image/webp">
                  <img loading="lazy" src="img/product-image-1.jpg" class="image" width="216" height="438" alt="Костюм 'СИРИУС-Горка' куртка, брюки (гражданские размеры) КМФ Мультикам">
                </picture>
              </a>
              <div class="product__content">
                <div class="product__code">Арт 1232425</div>
                <h2 class="product__title"><a href="#">Костюм "СИРИУС-Горка" куртка, брюки (гражданские размеры) КМФ Мультикам</a></h2>
                <div class="product__price-wholesale">Опт 3144 ₽</div>
                <div class="product__price-retail">Розница 4235 ₽</div>
                <div class="product__order">
                  <button type="button" class="btn-reset btn-outline product__btn-order" data-modal-btn="table-size">В корзину</button>
                  <button type="button" class="btn-reset btn-outline product__btn-order product__btn-order--favorite" aria-label="Добавить в избранное">
                    <svg>
                      <use xlink:href="img/sprite.svg#heart"></use>
                    </svg>
                  </button>
                </div>
              </div>
            </article>
          </li>
        </ul>
        <button type="button" class="btn-reset products__catalog-btn-more">Показать еще</button>
        <nav class="pagination">
          <ul>
            <li>
              <span class="prev"></span>
            </li>
            <li>
              <span class="current">1</span>
            </li>
            <li>
              <a href="#">2</a>
            </li>
            <li>
              <a href="#">3</a>
            </li>
            <li>
              <a href="#">4</a>
            </li>
            <li>
              <a href="#" class="all">все</a>
            </li>
            <li>
              <a href="#" class="next"></a>
            </li>
          </ul>
          <a class="next"></a>
        </nav>
      </div>
    </div>
  </div>
</section>
