<div class="modal__window table-size" data-modal-window="table-size">
  <button type="button" class="btn-reset table-size__close" data-modal-close></button>

  <div class="table-size__title">Выбор опций</div>
  <div class="table-size__head">
    <div class="table-size__accent table-size__accent--size">Размерный ряд</div>
    <div class="table-size__accent table-size__accent--count">Количество</div>
  </div>
  <table class="table-size__table">
    <tr>
      <th class="table-size__desc table-size__cell">Размер 104-108, Рост 170-176 (Арт. 43585)</th>
      <th class="table-size__count table-size__cell">
        <div class="stepper" data-stepper>
          <label class="stepper__field">
            <input type="text" value="0" maxlength="3" class="stepper__input">
          </label>
          <div class="stepper__btns">
            <button class="stepper__btn stepper__btn--up" aria-label="Увеличить количество">
              <svg>
                <use xlink:href="img/sprite.svg#+"></use>
              </svg>
            </button>
            <button class="stepper__btn stepper__btn--down stepper__btn--disabled" aria-label="Уменьшить количество">
              <svg>
                <use xlink:href="img/sprite.svg#-"></use>
              </svg>
            </button>
          </div>
        </div>
      </th>
    </tr>
    <tr class="table-size__table-bg">
      <th class="table-size__desc table-size__cell">Размер 104-108, Рост 170-176 (Арт. 43585)</th>
      <th class="table-size__count table-size__cell">
        <div class="stepper" data-stepper>
          <label class="stepper__field">
            <input type="text" value="0" maxlength="3" class="stepper__input">
          </label>
          <div class="stepper__btns">
            <button class="stepper__btn stepper__btn--up" aria-label="Увеличить количество">
              <svg>
                <use xlink:href="img/sprite.svg#+"></use>
              </svg>
            </button>
            <button class="stepper__btn stepper__btn--down stepper__btn--disabled" aria-label="Уменьшить количество">
              <svg>
                <use xlink:href="img/sprite.svg#-"></use>
              </svg>
            </button>
          </div>
        </div>
      </th>
    </tr>
    <tr>
      <th class="table-size__desc table-size__cell">Размер 104-108, Рост 170-176 (Арт. 43585)</th>
      <th class="table-size__count table-size__cell">
        <div class="stepper" data-stepper>
          <label class="stepper__field">
            <input type="text" value="0" maxlength="3" class="stepper__input">
          </label>
          <div class="stepper__btns">
            <button class="stepper__btn stepper__btn--up" aria-label="Увеличить количество">
              <svg>
                <use xlink:href="img/sprite.svg#+"></use>
              </svg>
            </button>
            <button class="stepper__btn stepper__btn--down stepper__btn--disabled" aria-label="Уменьшить количество">
              <svg>
                <use xlink:href="img/sprite.svg#-"></use>
              </svg>
            </button>
          </div>
        </div>
      </th>
    </tr>
    <tr class="table-size__table-bg">
      <th class="table-size__desc table-size__cell">Размер 104-108, Рост 170-176 (Арт. 43585)</th>
      <th class="table-size__count table-size__cell">
        <div class="stepper" data-stepper>
          <label class="stepper__field">
            <input type="text" value="0" maxlength="3" class="stepper__input">
          </label>
          <div class="stepper__btns">
            <button class="stepper__btn stepper__btn--up" aria-label="Увеличить количество">
              <svg>
                <use xlink:href="img/sprite.svg#+"></use>
              </svg>
            </button>
            <button class="stepper__btn stepper__btn--down stepper__btn--disabled" aria-label="Уменьшить количество">
              <svg>
                <use xlink:href="img/sprite.svg#-"></use>
              </svg>
            </button>
          </div>
        </div>
      </th>
    </tr>
    <tr>
      <th class="table-size__desc table-size__cell">Размер 104-108, Рост 170-176 (Арт. 43585)</th>
      <th class="table-size__count table-size__cell">
        <div class="stepper" data-stepper>
          <label class="stepper__field">
            <input type="text" value="0" maxlength="3" class="stepper__input">
          </label>
          <div class="stepper__btns">
            <button class="stepper__btn stepper__btn--up" aria-label="Увеличить количество">
              <svg>
                <use xlink:href="img/sprite.svg#+"></use>
              </svg>
            </button>
            <button class="stepper__btn stepper__btn--down stepper__btn--disabled" aria-label="Уменьшить количество">
              <svg>
                <use xlink:href="img/sprite.svg#-"></use>
              </svg>
            </button>
          </div>
        </div>
      </th>
    </tr>
    <tr class="table-size__table-bg">
      <th class="table-size__desc table-size__cell">Размер 104-108, Рост 170-176 (Арт. 43585)</th>
      <th class="table-size__count table-size__cell">
        <div class="stepper" data-stepper>
          <label class="stepper__field">
            <input type="text" value="0" maxlength="3" class="stepper__input">
          </label>
          <div class="stepper__btns">
            <button class="stepper__btn stepper__btn--up" aria-label="Увеличить количество">
              <svg>
                <use xlink:href="img/sprite.svg#+"></use>
              </svg>
            </button>
            <button class="stepper__btn stepper__btn--down stepper__btn--disabled" aria-label="Уменьшить количество">
              <svg>
                <use xlink:href="img/sprite.svg#-"></use>
              </svg>
            </button>
          </div>
        </div>
      </th>
    </tr>
    <tr>
      <th class="table-size__desc table-size__cell">Размер 104-108, Рост 170-176 (Арт. 43585)</th>
      <th class="table-size__count table-size__cell">
        <div class="stepper" data-stepper>
          <label class="stepper__field">
            <input type="text" value="0" maxlength="3" class="stepper__input">
          </label>
          <div class="stepper__btns">
            <button class="stepper__btn stepper__btn--up" aria-label="Увеличить количество">
              <svg>
                <use xlink:href="img/sprite.svg#+"></use>
              </svg>
            </button>
            <button class="stepper__btn stepper__btn--down stepper__btn--disabled" aria-label="Уменьшить количество">
              <svg>
                <use xlink:href="img/sprite.svg#-"></use>
              </svg>
            </button>
          </div>
        </div>
      </th>
    </tr>
  </table>
  <button type="button" class="btn-reset btn-outline table-size__btn" data-modal-close>Добавить в корзину</button>
</div>
